* {
  &,
  &::before,
  &::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
}

html {
  text-size-adjust: 100%;
  line-height: 1.5;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif, Helvetica, sans-serif;
  font-size: 16px;
  background-color: get-color('background');
  color: get-color('text');
  min-height: 100vh;

  &.overflow-hidden {
    overflow: hidden;
  }
}

.container {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
  padding: 1.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: get-color('headline');
  font-weight: get-font-weight('bold');
  letter-spacing: -0.025rem;
}

h1 {
  font-size: get-font-size('h1');
}

h2 {
  font-size: get-font-size('h2');
  line-height: 34px;
}

h3 {
  font-size: get-font-size('h3');
}
