// ------------------------------------------------------------
// Header
// ------------------------------------------------------------
.header {
  @include breakpoint('max', 'md') {
    display: none;
  }

  &--container {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    height: 90px;
  }
}

// ------------------------------------------------------------
// Navbar
// ------------------------------------------------------------
.navbar {
  position: relative;
  z-index: 50;
  border-bottom: 1px solid get-color('border');

  &--container {
    @extend .container;
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 70px;

    @include breakpoint('min', 'md') {
      justify-content: center;
    }
  }

  &__logo {
    width: 45px;
    height: 45px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include breakpoint('min', 'md') {
      display: none;
    }
  }

  &__toggler {
    width: 44px;
    height: 44px;
    border: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    @include transition();

    @include breakpoint('min', 'lg') {
      display: none;
    }

    &__icon {
      @include transition();
      position: absolute;
      width: 25px;
      height: 2px;
      background-color: get-color('text');

      &:nth-child(1) {
        transform: translateY(-7.5px);
      }

      &:nth-child(3) {
        transform: translateY(7.5px);
      }
    }

    &.is-open {
      .navbar__toggler__icon {
        &:nth-child(1) {
          transform: translateY(0px) rotate(135deg);
        }

        &:nth-child(2) {
          transform: translateY(0px) rotate(135deg);
          opacity: 0;
          visibility: hidden;
        }

        &:nth-child(3) {
          transform: translateY(0px) rotate(135+90deg);
        }
      }
    }
  }

  &--menu {
    // Navbar menu mobile
    @include breakpoint('max', 'lg') {
      position: fixed;
      z-index: 50;
      opacity: 0;
      visibility: hidden;
      top: 71px;
      left: 0;
      background-color: get-color('background');
      width: 100%;
      height: calc(100vh - 71px);
      list-style-type: none;
      padding: 1.5rem;
      overflow-y: auto;
      @include transition();

      @include breakpoint('min', 'md') {
        top: 161px;
      }

      &.is-open {
        opacity: 1;
        visibility: visible;
      }

      > li {
        width: 100%;
        margin: 5px 0;

        > a {
          text-decoration: none;
          font-weight: get-font-weight();
          display: block;
          width: 100%;
          color: get-color('text');
          padding: 15px;
          @include rounded();

          &:hover,
          &:focus {
            background-color: get-color('background-alt');
            color: get-color('headline');
          }

          &[navbar-menu-has-dropdown] {
            position: relative;
            display: flex;
            align-items: center;

            &::after {
              content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-6 w-6' fill='none' viewBox='0 0 24 24' stroke='#667c90' stroke-width='2'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M19 9l-7 7-7-7' /%3E%3C/svg%3E");
              width: 20px;
              height: 20px;
              position: absolute;
              right: 15px;
              color: get-color('text');
            }

            &.is-open {
              background-color: get-color('background-alt');

              &::after {
                transform: rotate(180deg);
              }
            }
          }
        }
      }

      &--dropdown {
        width: 100%;
        overflow: hidden;
        height: 0;
        @include transition();

        > ul {
          border: 1px solid get-color('border');
          @include rounded();
          padding: 5px 10px;
          margin-top: 5px;
          list-style-type: none;

          > li {
            width: 100%;
            margin: 5px 0;

            > a {
              text-decoration: none;
              font-weight: get-font-weight();
              display: block;
              width: 100%;
              color: get-color('text');
              padding: 15px;
              @include rounded();

              &:hover,
              &:focus {
                background-color: get-color('background-alt');
                color: get-color('headline');
              }
            }
          }
        }

        &__toggler {
          cursor: pointer;
        }
      }
    }

    // Navbar menu desktop
    @include breakpoint('min', 'lg') {
      opacity: 1;
      visibility: visible;
      position: inherit;
      height: unset;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 10px;
      padding: 0;
      background-color: unset;
      list-style-type: none;

      > li {
        &:hover,
        &:focus,
        &:active {
          > a {
            &[navbar-menu-has-dropdown] {
              &::after {
                transform: rotate(180deg);
              }
            }
          }

          > .navbar--menu--dropdown {
            opacity: 1;
            visibility: visible;
            transform: translateY(5px);
          }
        }

        > a {
          text-decoration: none;
          font-weight: get-font-weight();
          display: inline-block;
          color: get-color('text');
          padding: 15px;
          cursor: pointer;
          @include rounded();

          &:hover {
            background-color: get-color('background-alt');
            color: get-color('headline');
          }

          &[navbar-menu-has-dropdown] {
            padding-right: 45px;
            position: relative;
            display: flex;
            align-items: center;

            &::after {
              content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-6 w-6' fill='none' viewBox='0 0 24 24' stroke='#667c90' stroke-width='2'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M19 9l-7 7-7-7' /%3E%3C/svg%3E");
              width: 20px;
              height: 20px;
              position: absolute;
              right: 15px;
              color: get-color('text');
            }

            &.is-open {
              background-color: get-color('background-alt');

              &::after {
                transform: rotate(180deg);
              }
            }
          }
        }
      }

      &--dropdown {
        position: absolute;
        z-index: 50;
        opacity: 0;
        visibility: hidden;
        width: auto;
        min-width: 175px;
        background-color: get-color('background');
        border: 1px solid get-color('border');
        @include rounded();
        transform: translateY(20px);
        padding: 10px;
        @include transition();

        > ul {
          list-style-type: none;

          > li {
            width: 100%;

            > a {
              text-decoration: none;
              font-weight: get-font-weight();
              display: inline-block;
              color: get-color('text');
              padding: 15px;
              cursor: pointer;
              width: 100%;
              @include rounded();

              &:hover {
                background-color: get-color('background-alt');
                color: get-color('headline');
              }
            }
          }
        }
      }
    }
  }
}

// Hero
$hero-height: 550px;

.hero-slider {
  position: relative;
  height: $hero-height;
  display: flex;
  align-items: center;
  justify-content: center;

  &--indicator {
    position: absolute;
    z-index: 5;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;

    > .indicator {
      width: 12.5px;
      height: 12.5px;
      background-color: #aaa;
      border-radius: 50%;
      margin: 0 5px;
      cursor: pointer;
      @include transition();

      &.active {
        background-color: get-color('background');
      }

      &.template {
        display: none;
      }
    }
  }

  &--container {
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    scroll-snap-type: x mandatory;
    height: $hero-height;
  }

  &__button {
    background-color: get-color('primary');
    border: 0;
    color: get-color('background');
    font-weight: get-font-weight('medium');
    cursor: pointer;
    text-decoration: none;
    padding: 15px 25px;
    @include rounded();
    @include transition();

    &:hover,
    &:focus {
      background-color: get-color('primary-dark');
      color: get-color('background');
    }
  }

  &--content {
    height: 100%;
    min-width: 100%;
    overflow: hidden;
    scroll-snap-align: start;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($color: #000000, $alpha: 0.75);
    }

    @include breakpoint('min', 'sm') {
      background-position: center;
    }

    &--container {
      @extend .container;
      position: relative;
      z-index: 1;
      display: flex;
      flex-direction: column;
      height: 100%;

      @include breakpoint('min', 'md') {
        flex-direction: row;
        align-items: center;
        justify-content: center;
      }
    }

    &--text {
      flex: 1 1 0%;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      @include breakpoint('min', 'md') {
        text-align: left;
        align-items: flex-start;
      }

      > h2,
      > p {
        display: block;
        margin: 0 auto;
        color: get-color('background');
        margin-bottom: 0.75rem;

        @include breakpoint('min', 'sm') {
          max-width: 75%;
        }

        @include breakpoint('min', 'md') {
          max-width: unset;
          margin: 0;
          margin-bottom: 0.75rem;
          padding-right: 15px;
        }
      }

      > h2 {
        font-size: get-font-size('h2');
        line-height: 48px;
      }
    }

    &--image {
      width: 100%;
      height: 100%;
      flex: 1 1 0%;
      display: flex;
      align-items: center;
      padding-left: 15px;

      @include breakpoint('max', 'md') {
        display: none;
      }

      > img {
        width: 100%;
        height: 450px;
        object-fit: cover;
        @include rounded();
      }
    }
  }
}
