.wp-site-blocks > * + * {
  margin-top: unset !important;
}

.wp-block-site-title {
  display: none;
}

.wp-block-post {
  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}

[class^='wp-container-'] > * + * {
  // [class^='wp-container-'] > * {
  margin-top: inherit !important;
  margin-bottom: inherit !important;
}

[class^='wp-container'] .has-text-align-center {
  max-width: 720px;
  margin: 0 auto;
}

.wp-block-post-title {
  // display: none;
  font-size: get-font-size('h3');
}

// WP Reset
#prakataKepalaSekolah[class^='wp-container-'] > * + * {
  margin-top: unset !important;
}
