<!-- wp:template-part {"slug":"header","tagName":"header","className":"header"} /-->
<!-- wp:template-part {"slug":"navbar","tagName":"nav","className":"navbar"} /-->

<div class="container py-6 flex flex-col text-center" id="error">
  <img
    src="https://assets.yapenhasboediluhur.sch.id/img/illustrations/error.svg"
    class="block w-full max-w-md mx-auto"
    alt="Error 404 Not Found"
  />
  <div class="w-full mb-8">
    <h1>Opps...</h1>
    <p>Maaf...halaman yang anda cari tidak ditemukan.</p>
    <a href="/" class="button button-primary mt-2 rounded-lg">Kembali ke Beranda</a>
  </div>
</div>

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"footer"} /-->
