<!-- wp:template-part {"slug":"header","tagName":"header","className":"header"} /-->
<!-- wp:template-part {"slug":"navbar","tagName":"nav","className":"navbar"} /-->

<!-- wp:group -->
<div class="container">
  <!-- wp:post-title {"className":"text-center py-7"} /-->
  <!-- wp:post-content /-->

  <!-- wp:group -->
  <div class="flex flex-col sm:flex-row gap-4 sm:flex-wrap" id="alumni-container" style="min-height: 300px"></div>
  <!-- /wp:group -->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"footer"} /-->
