<!-- wp:template-part {"slug":"header","tagName":"header","className":"header"} /-->
<!-- wp:template-part {"slug":"navbar","tagName":"nav","className":"navbar"} /-->
<!-- wp:group -->
<div class="overflow-hidden h-full w-full flex items-center" style="max-height: 500px">
  <!-- wp:image {"url":"https://boediluhur.files.wordpress.com/2017/07/cropped-cropped-gedung-boedi-luhur.jpg"} -->
  <figure class="wp-block-image is-style-default w-full">
    <img
      src="https://boediluhur.files.wordpress.com/2017/07/cropped-cropped-gedung-boedi-luhur.jpg"
      alt="SMK Boedi Luhur"
      class="w-full object-cover"
    />
  </figure>
  <!-- /wp:image -->
</div>
<!-- /wp:group -->

<!-- wp:group -->
<section class="bg-background-alt">
  <div class="container py-6 md:py-10 text-center" id="profileDescription">
    <!-- wp:paragraph -->
    <p class="max-w-4xl mx-auto md:my-4 font-medium">
      SMP IT & SMK Boedi Luhur adalah lembaga pendidikan dibawah naungan Yayasan Pendidikan H. Sudarto (YAPENHAS) yang
      berdiri sejak tahun 2007 berdomisili di Desa Mangunjaya Kecamatan Tambun Selatan Kabupaten Bekasi
    </p>
    <!-- /wp:paragraph -->
  </div>
</section>
<!-- /wp:group -->

<!-- wp:group -->
<div class="container text-center py-6">
  <!-- wp:post-title {"className":"text-center mb-4 pb-4"} /-->
  <!-- wp:post-content /-->
</div>
<!-- /wp:group -->

<!-- wp:group -->
<div class="container">
  <!-- wp:columns -->
  <div class="wp-block-columns">
    <!-- wp:column -->
    <div class="wp-block-column">
      <!-- wp:image {"url":"https://assets.yapenhasboediluhur.sch.id/img/foto/smp/smp-1.jpeg","className":"img-full"} -->
      <figure class="wp-block-image img-full">
        <img src="https://assets.yapenhasboediluhur.sch.id/img/foto/smp/smp-1.jpeg" alt="Teknik Komputer Jaringan" />
      </figure>
      <!-- /wp:image -->
    </div>
    <!-- /wp:column -->

    <!-- wp:column -->
    <div class="wp-block-column">
      <!-- wp:image {"url":"https://assets.yapenhasboediluhur.sch.id/img/foto/smp/smp-2.jpeg","className":"img-full"} -->
      <figure class="wp-block-image img-full">
        <img src="https://assets.yapenhasboediluhur.sch.id/img/foto/smp/smp-2.jpeg" alt="Teknik Komputer Jaringan" />
      </figure>
      <!-- /wp:image -->
    </div>
    <!-- /wp:column -->
  </div>
  <!-- /wp:columns -->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
